*{
    box-sizing: border-box;
    font-family: 'raleway';
}

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Style du header */

header {
    height: 79px;
    width: 100%;
    display: flex;
}

.logo {
    width: 161px;
    height: 79;
    padding: 30px 50px 30px 50px;
}

.logo img {
    width: 61px;
    height: 19px;
}

.menu {
    width: 344px;
    height: 35px;
    margin-left: auto;
    padding: 0px 50px 0px 50px;
    display: flex;
    justify-content: space-between;
}
   
.hebergement {
    width: 113px;
    height: 35px;
}

.activites {
    width: 63px;
    height: 35px;
}

.menu a {
    display: block;
    margin-top: 16px;
    text-align: center;
}

.hebergement:hover, .activites:hover {
    border-top: 2px #0065FC solid;
    a {
        color: #0065FC;
    }
}

/* ------------Style-contenu-général ou body-----------------*/

main {
    width: 100%;
    padding: 0 50px;
}

/* 1. Style info-groupe */

.InfoGroup {
    width: 1340px;
    height: 281px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 35px;
}

.headline {
    height: 53px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    display: block;
    height: 26px;
    margin: 0px;
    padding: 0px;
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
}

.headline p {
    display: block;
    height: 19px;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.78px;
}

.search-bar {
    width: 379px;
    height: 49px;
    display: flex;
    border-radius: 15px 15px 15px 15px;
}

.champ-saisie-recherche {
    border: 1px #f2f2f2 solid;
    width: 195px;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
}

.champ-saisie-recherche:focus {
    outline: none;
}

.icone-adrresse {
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
    background-color: #D9D9D9;
}

.icone-adrresse i {
    width: 14px;
    height: 18px;
    position: relative;
    top: 15px;
    left: 18px;
}

.texte-recherche {
    display: flex;
    align-items: center;
    justify-content: center;
}

.texte-recherche p {
    width: 147px;
    height: 21px;
    margin: 0px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
    text-align: center;
}

.btn-recherche {
    cursor: pointer;
    width: 132px;
    height: 49px;
    border-radius: 0px 15px 15px 0px;
    border: 1px #0065FC solid;
    padding: 15px 16px 15px 16px;
    background-color: #0065FC;
    color: #f2f2f2;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
}

.filterbar {
    width: 758px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.filtres {
    width: 54px;
    height: 21px;
    margin: auto 0px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
    text-align: center;
}

.filter {
    height: 50px;
    border-radius: 25px;
    border: 2px #D9D9D9 solid;
    padding: 4px 19px 4px 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter:hover {
    background-color: #DEEBFF;
}

.economique {
    width: 173px;
}

.familial {
    width: 134px;
}

.romantique {
    width: 170px;
}

.nos-pepites {
    width: 167px;
}

.filter i {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter p {
    height: 20px;
    font-weight: 700;
    font-size: 17px;
    line-height: 19.96px;
    text-align: center;
}

.economique p {
    width: 103px;
}

.familial p {
    width: 64px;
}

.romantique p {
    width: 100px;
}

.nos-pepites p {
    width: 97px;
}

.infobar {
    height: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.infobar p {
    display: block;
    margin-top: 2.5px;
    width: 1306px;
    height: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.78px;
}

.cercle-icone-i {
    width: 24px;
    height: 24px;
    border: 1px #D9D9D9 solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------------------------------------------STYLE SECTION GROUPE DES OFFRES-------------------------------------------------------- */

.SectionGroup {
    height: 614px;
    width: 1340px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

/* I. ----Style presentation des offres pour l'hébergement à marseille-----*/

.offers-main {
    height: 614px;
    width: 871px;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 1. --Gestion du texte des cartes des offres */

.offers-main h2{
    width: 811px;
    height: 26px;
    margin: 0px;
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
}

h2:nth-child(even){
    cursor: pointer;
}

.card-main-txt h3 {
    width: 220.3px;
    height: 19px;
    margin: 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18.78px;
}

.card-main-txt p {
    width: 220.33px;
    height: 16px;
    margin: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.44px;
}

.card-main-txt p span {
    font-weight: 600;
}

/* 2. -----Gestion de la première et deuxième rangée des cartes des offres --------*/

.box-offers-main {
    width: 811px;
    height: 207.25px;
    display: flex;
    justify-content: space-between;
}

.card-main {
    width: 250.33px;
    height: 207.25px;
    border-radius: 20px;
    padding: 0px 0px 15px 0px;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 15px 0 rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-main img{
    width: 250.33px;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    border: 5px #FFFFFF solid;
    object-fit: cover;
}

.card-main-txt {
    width: 250.33px;
    height: 64.25px;
    padding: 0px 15px 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.etoiles {
    width: 81px;
    height: 13.25px;
    display: flex;
    justify-content: space-between;
}

.etoiles i {
    width: 14.29px;
    height: 13.25px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* II.-----Style presentation des offres pour les plus populaires-----*/

.offers-sponsored {
    height: 614px;
    width: 429px;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titre-offers-sponsored {
    width: 369px;
    height: 26px;
    display: flex;
    justify-content: space-between;
}

.titre-offers-sponsored i {
    width: 18px;
    height: 15.75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-main-2 {
    width: 369px;
    height: 146px;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 15px 0 rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
}

.card-main-2 img{
    width: 123px;
    height: 146px;
    border-radius: 20px 0px 0px 20px;
    border-top: 5px #FFFFFF solid;
    border-bottom: 5px #FFFFFF solid;
    border-left: 5px #FFFFFF solid;
    object-fit: cover;
}

.card-main-txt-2 {
    width: 246px;
    height: 136px;
    padding: 10px 5px 5px 15px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.txt {
    width: 226px;
    height: 85px;
}

.etoiles-2 {
    width: 81px;
    height: 13.25px;
    display: flex;
    justify-content: space-between;
}

.etoiles-2 i {
    width: 14.29px;
    height: 13.25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------Gestion du texte---------- */

.titre-offers-sponsored h2 {
    width: 300.31;
    height: 26px;
    margin: 0px;
    font-weight: 700px;
    font-size: 22px;
    line-height: 25.83px;
}

.txt h3 {
    margin: 0px 0px 5px 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18.78px;
}

.txt p {
    width: 226px;
    height: 16px;
    margin: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.44px;
}

.txt p span {
    font-weight: 600;
}

/* ---------------------------------------------STYLE SECTION ACTIVITES A MARSEILLE---------------------------------------------------- */

.SectionActivites {
    width: 100%;
    height: 559.02px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.SectionActivites h2 {
    margin: 0px;
    cursor: pointer;
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
}

.box-activites {
    width: 100%;
    height: 439px;
    display: flex;
    justify-content: space-between;
}

.card-activite {
    width: 23.2421875%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.card-activite img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
}

.txt-card-activite {
    width: 100%;
    height: 59px;
    padding: 20px 19px 20px 19px;
}

.txt-card-activite p {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 18.78px;
}